{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'news/style.css' %}">
         <style>
  .affix {
      top: 0;
      width: 100%;
      z-index:1;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  </style>
    </head>
    <body>
        <div class="container_fluid">
        <div class="head">
             <div class="row">
               <div class="col-md-8">
                   <h1>The News Reporter</h1></div>


        <div class="col-md-4 col-md-offset-8">
            <form action="{% url 'news:search_result' %}" method="get" class="search-form">
                <div class="form-group has-feedback">
            		<label for="searchitem" class="sr-only">Search</label>

            		<input type="text" class="form-control" name="searchitem" id="searchitem" placeholder="search">
              		<span class="glyphicon glyphicon-search form-control-feedback"></span>
            	</div>
            </form>
        </div>
    </div>
</div>

        </div>
            <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="158">
                <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{%url 'news:index' %}">The News Reporter</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{%url 'news:index' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Page 2</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Hi {{ user.username }}!</a></li>
                    <li><a href="{% url 'logout' %}">logout</a>  </li>


                        {% else %}


                    <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif%}
                </ul>
            </div>
            </nav>
        </div>
    {% block content %}

    {% endblock%}
    </body>
</html>