{% extends "news/home.html" %}


{% block content %}
{% load comments %}
<head>
    <style>
        #comment_form {
                    margin: 20px 400px 20px 20px ;
                    color:blue;
            }

            #id_submit{
                    background-color: rgba(0,131,143 ,1);
                      }

    </style>
<div class="container news_headings">
    <ul list-style-type="none">
        <li><h2>{{ news.title }}</h2></li>
        <li><p>{{ news.content }}</p></li>
    </ul>
</div>
    <div class="news_headings"><h2>Comment here</h2></div>

    {% if user.is_authenticated %}
    {% get_comment_form for news as form %}
    <div id="comment_form">
    <form id="form" action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.comment }}

    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="submit" value="Add comment" id="id_submit" />

    </form>
        <br />
    </div>

{% else %}
    <p>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
{% endif %}

  <div id="commentlist">
    {% get_comment_list for news as comment_list %}
    {% if comment_list %}
        {% get_comment_count for news as comment_count %}

    <div class="news_headings"><p>This news has {{ comment_count }} comments.</p></div>

    {% for comment in comment_list %}
    <div class="news_headings">
        <h2>{{comment.comment}}</h2> <br/>
       <p>posted by:{{ comment.user_name }} at {{ comment.submit_date}}</p></div>
    {% endfor %}
    {% else %}
    <p>----no cooments----</p>
{%endif%}
  </div>
         <script type="text/javascript" charset="utf-8">
                  function bindPostCommentHandler() {
                      $('#comment_form form input.submit-preview').remove();
                      $('#comment_form form').submit(function() {
                          $.ajax({
                              type: "POST",
                             data: $('#comment_form form').serialize(),
                              url: "{% comment_form_target %}",
                              cache: false,
                             dataType: "html",
                             success: function(html, textStatus) {
                                  $("#commentlist").load("{% url 'refresh_post' news.id %}");
                                    $("#form")[0].reset();

                             },
                             error: function (XMLHttpRequest, textStatus, errorThrown) {
                                 $('#comment_form form').replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
                             }
                         });
                         return false;
                     });
                 }

                 $(document).ready(function() {
                     bindPostCommentHandler();
                 });
                </script>

{% endblock %}


{% block footer %}
        {% endblock %}