{% extends 'news/base.html' %}
{% load static %}
{% block content %}
  <head><link rel="stylesheet" href="{% static 'news/loginstyle.css' %}"></head>
  <body>
        <div class="container">
        <div class="row">
        <div class="page-header"><h2>Profile</h2></div>
        <form method="post">
        <br>
            {% csrf_token %}


            <label for="id_first_name">First name:</label>

            <input type="text" name="first_name" id="id_first_name"
                   value="{{ request.user.first_name }}" required maxlength="30" />
            <label for="id_last_name">Last name:</label>

            <input type="text" name="last_name" id="id_last_name"
                   value="{{ request.user.last_name }}"  maxlength="30" /></br>
            <label for="id_email">Email:</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

            <input type="email" name="email" id="id_email"
                   value="{{ request.user.email }}" required maxlength="254" />
          {% for field in form %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          {% endfor %}

          <button class="btn btn-block button" type="submit"> Save </button>
        </fieldset>
      </form>
</div>
        </div>

{% endblock %}
  </body>