{% extends "news/home.html" %}
{% load static %}
{% block banner %}
{% endblock %}
{% block content %}
<head>
    <style>

       p {
                    margin: 35px  ;
                    font-size:20px;
                    color:white;

            }
        #signup .ba {

    padding: 50px 50px 425px 50px;
    margin-top: 30px;

    </style>

       <body>
    <foo id="signup">

    <div class="ba">



<div class="news_headings">
        <p>
          We've emailed you instructions for setting your password, if an account exists with the email you entered.
          You should receive them shortly.
          If you don't receive an email, please make sure you've entered the address you registered with,
          and check your spam folder.
        </p>

      </div>
                </div>
        </foo>
{% endblock %}
{% block footer %}
{% endblock %}