li a {
    font-family: "Times New Roman", Georgia, Serif;
}
ul {
    list-style-type:none;
}
.news_headings {
    color: black;
}
li h2 a{
    color:#004D40;
    }
li h4 a {
    color:#004D40;
    }
h1 {
    color: #F1F8E9;
    font-family: "Times New Roman", Georgia, Serif;
    font-size:80px;
    }
p {
    font-family: "Times New Roman", Georgia, Serif;
}
.head {
    background: #00796B;

    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

