{% extends "news/home.html" %}
{% load static %}
{% block banner %}
{% endblock %}
{% block content %}
<head>
    <style>
        #signup .button {
                    margin: 0px 0px 10px 0px;

            }

    </style>
</head>


    <foo id="signup">
        <div class="ba">
    <div class="news_headings"><h3>Change your password</h3></div>


    <div class="row">



        <div class="col-md-4 news_headings form">
        <form action="#" method="post">
          {% csrf_token %}
            <label id="p" for="pass1">Password:</label>
            <input type="text" name="password" id="pass1"
                    required minlength="4" />

            <label id="q"  for="pass2">Repeat Password:</label>
            <input type="text" name="password_confirm" id="pass2"
                  required minlength="4" />
              <input type="hidden" name="type" value="password" />
              <span style="color:red" id="error_msg"></span>

           <div class="news_headings">
            <button type="submit" class="btn btn-block button">Save</button></div>


          <script type="text/javascript">
          $(document).ready(function(){
            $("#password_form").submit(function(event){
              if($('#pass1').val() == $('#pass2').val()  && $('#pass1').val()!=''){
                $("#password_form").submit()
                return true;
              } else {
                $('#error_msg').text("Password MissMatch! Please Try again");
               $('#pass1').val("");
                $('#pass2').val("");
                event.preventDefault();
                return false;
              }
            });
          });
           </script>
       </form>
            </div>
             <div class="col-md-6">
          <!--  <img src="{% static 'news/images/sig.jpg' %}" alt="Pic 01" width="500"/>-->
        </div>
    </div>
            </div>
</foo>
{% endblock %}
{% block footer %}

{% endblock %}
