{% extends 'news/base.html' %}
{{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="page-header"><h2>Sign-up</h2></div>
        <form method="post">
        <fieldset>
          {% csrf_token %}
            <label id="p" for="pass1">Password:</label><br />
            <input type="text" name="password" id="pass1"
                    required minlength="4" /><br />

            <label id="q"  for="pass2">Repeat Password:</label><br />
            <input type="text" name="password_confirm" id="pass2"
                  required minlength="4" /><br />
              <input type="hidden" name="type" value="password" />
              <span style="color:red" id="error_msg"></span>
          <button class="btn btn-block button" type="submit" > Save </button>

          <script type="text/javascript">
          $(document).ready(function(){
            $("#password_form").submit(function(event){
              if($('#pass1').val() == $('#pass2').val()  && $('#pass1').val()!=''){
                $("#password_form").submit()
                return true;
              } else {
                $('#error_msg').text("Password MissMatch! Please Try again");
               $('#pass1').val("");
                $('#pass2').val("");
                event.preventDefault();
                return false;
              }
            });
          });
           </script>
        </fieldset>
      </form>

</div>
</div>
{% endblock %}