<div class="cotainer-fluid afix">
	<nav class="navbar navbar-inverse" data-spy="affix">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{%url 'news:index' %}">The News Reporter</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="{%url 'news:index' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#">Page 1-1</a></li>
				<li><a href="#">Page 1-2</a></li>
				<li><a href="#">Page 1-3</a></li>
			</ul>
				</li>
				<li><a href="#">Page 2</a></li>
			</ul>


			<ul class="nav navbar-nav navbar-right">

				<li>
					<form action="/search/" method="get" class="search-form">
                		<div class="form-group has-feedback">
            				<label for="searchitem" class="sr-only">Search</label>

            				<input type="text" class="form-control" name="searchitem" id="searchitem" placeholder="search">
              				<span class="glyphicon glyphicon-search form-control-feedback"></span>
            			</div>
            		</form>
				</li>
				<li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'profile' %}">Hi {{ user.username }}!</a></li>
					<li><a href="{% url 'logout' %}">logout</a>  </li>
				{% else %}
					<li><a href="/user/signup/#footersignup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				{% endif%}
				</li>
			</ul>



		</div>
	</nav>

</div>